<script type="module" src="./../controllers/league.js"></script>
<link rel="stylesheet" href="css/league.css" />

<div class="container">
<div class="team-page-header">
  <div class="league">
    <img class="league-logo" src="images/competitions/{{leagueID}}.png" alt="{{leagueName}}">
    <div class="league-info">
      <h2>{{leagueName}}</h2>
      <div class="league-nation">
        <img class="nation-flag" src="images/logos/{{leagueNation.ID}}.png" alt="{{leagueNation.name}}">
        <span>{{leagueNation.name}}</span>
      </div>
    </div>
  </div>
</div>
  <div class="rectangle" id="rectangle4">
    <div id="standings" class="table-container large">
      {{> standings }}
    </div>
  </div>

  <div class="rectangle" id="rectangle3">
    <span hidden id="league-name"></span>
    <span hidden id="league-id"></span>
    <span hidden id="round-no"></span>
    <div id="fixtures-info" class="table-container"></div>
    {{> match-list-table}}
  </div>
  <div class="rectangle" id="rectangle1">
    <h2>Top Players</h2>
    <div id="player-list" class="table-container">
      {{> player-list-table big=false}}
    </div>
  </div>

</div>