<script type="module" src="./../controllers/ucl-last-round.js"></script>
<link rel="stylesheet" href="css/ucl-last-round.css" />
<div id="ucl-container">
    <!-- Left Div -->
    <div id="left">
        <div id="matches-container">
            <h2>UEFA Champions League - Last round scores</h2>
            <div id="matches">
                <table border="1" cellspacing="0" cellpadding="5"
                    style='border-collapse: collapse; border: 3px solid #1D3557;'>
                    <thead>
                        <tr class="main-table-header">
                            <th colspan="2" class="list-header2">Home Team</th>
                            <th class="list-header2" width="140">Score</th>
                            <th colspan="2" class="list-header2">Away Team</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each matches}}
                        <tr>

                            <td style="border-right: none; text-align: right; width: 28%;">{{this.teams.home.name}}</td>
                            <td style="border-left: none;">
                                <img src="images/logos/{{this.teams.home.id}}.png" alt="{{this.teams.home.name}} Logo"
                                    width="26px">
                            </td>
                            <td style="text-align:center">
                                <input type="number" min="0" name="homeScore_{{this.fixture.id}}" class="score-pred"
                                    data-team="{{this.teams.home.id}}" data-opponent="{{this.teams.away.id}}">
                                -
                                <input type="number" min="0" name="awayScore_{{this.fixture.id}}" class="score-pred"
                                    data-team="{{this.teams.away.id}}" data-opponent="{{this.teams.home.id}}">
                            </td>

                            <td style="border-right: none;">
                                <img src="images/logos/{{this.teams.away.id}}.png" alt="{{this.teams.away.name}} Logo"
                                    width="26px">
                            </td>
                            <td style="border-left: none; width: 28%;">{{this.teams.away.name}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- Right Div -->
    <div id="right">
        <h2>Live Standings</h2>
        <div id="standings"></div>
        <span>Predict the scores above to see how the standings and the potential playoff matchups change!</span>

    </div>
<div id="left-bottom">
    <h3>Upcoming Matchups</h3>
    <div id="dynamic-matchups"></div>
</div>
</div>